.dropDownMenuLink {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menuLinkText {
    color: #444444;
}

.menuLinkText:hover {
    color: blue;
}

.dropDownMenuContainer {
    position: relative;
}

.dropDownSubMenuContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 5px;
    padding-top: 15px;
    gap: 5px;
}
