.dropDownMenuLink {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menuLinkText {
    color: #444444;
}

.menuLinkText:hover {
    color: blue;
}

.dropDownMenuContainer,
.dropDownSubMenuContainer {
    position: relative;
}

.dropDownSubMenuContainer,
.dropDownSubSubMenuLinkContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 5px;
    padding-top: 15px;
    gap: 5px;
}
.dropDownSubSubMenuLinkContainer {
    right: -100%;
}
